$body-color: white;
$body-backgroundcolor: gray;
$games-backgroundcolor: lightgray;
body{
  background-color: $body-backgroundcolor;
}
.main{
  color: $body-color;
  background-color: $body-backgroundcolor;
}
.singleGame{
  background-color: $games-backgroundcolor;
  color: black;
  width: 550px;
  text-align: center;
}
.cell{
  background-color: white;
  width: 150px;
  height: 150px;
  font-size: 80px;
  text-align: center;
}
.cell:hover{
  background-color: grey;
}
.pick{
  width: 110px;
}
.pick:hover{
  cursor: pointer;
  color: lightgray;
}
#tictactoe{
  margin-left: 45px;
}